
body {
  background-color: #FDFAF6;
}
hr {
  border-style: dotted none none;
  border-color: #502064;
  border-width: 5px;
  width: 10%;
}
img {
  height: 200px;
}
h1 {
  color: #8946A6;
}
h3 {
  color: #B762C1;
}
